body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}
 
.navbar a{
    float: left;
    color: #f3f3f3;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
    border-right: 1px solid white;
}

.navbar a:hover{
    background-color: white;
    color: #333;
}

.navbar a.active{
    background-color: pink;
    color: white;
}

.parallax {
    background-image: url('https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image */
    height: 100%; /* Adjust height as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us, .cta {
    padding: 20px;
    text-align: center;
}

.zig-zag {
    display: flex;
    padding: 64px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.zigzag-item {
    width: 50%;
}

.zigzag-item.left {
    float: left;
    width: 66.6666%;
    padding-right: 20px;
}

.zigzag-item.right {
    float: left;
    width: 33.3333%;
    padding-right: 20px;
}

.cta img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
